.login-btn2 {
    /* background: linear-gradient(90deg, #7c3aed 0%, #a78bfa 100%); */
    color: #7c3aed;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background 0.2s;
  }
  
  .login-btn:hover {
    background: linear-gradient(90deg, #a78bfa 0%, #7c3aed 100%);
  }